.inputArea {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  & > label {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #010342;
  }
  & > input {
    width: 100%;
    display: block;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    background: #f9f9f9;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    outline: none;
  }
}
