.courseCrousel {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
