@import "../../public/Style/_breakpoints";

nav{
    position: sticky;
    top: 0;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
  width: 1164px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 15px;
  z-index: 99999;

  @include if-device(desktop){
    width: 100%;
    padding: 0 50px;
  }
  @include if-device(tablet){
    width: 100%;
    padding: 10px 50px;
  }
  @include if-device(largephone){
    width: 100%;
    padding: 10px 50px;
  }
  @include if-device(phone){
    width: 100%;
    padding: 10px 20px;
  }


  &__leftSide{
    padding: 5px 0;

    &__logo{
      width: 240px;
      height: 50px;

        img{
            width: 100%;
            height: 100%;
        }
        @include if-device(phone){
            width: 137px;
            height: 34px;
          }
    }
    @include if-device(desktop){
        padding-top: 4px;
      }
      @include if-device(largephone){
        padding-top: 4px;
      }
      @include if-device(phone){
        padding-top: 4;
      }
  }

  &__rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
        &__search{
            border-left: 1px solid #d3d3d3;
            color: #444444;
            padding-left: 30px;
            transition: all 0.3s ease-out;
            font-size: 14px;
            cursor: pointer;

            &:hover{
                color: #fdc800;
            }

            @include if-device(tablet){
                display: none;
            }
            @include if-device(largephone){
                display: none;
              }
              @include if-device(phone){
                display: none;
              }
        }

        &__menuTab{

            display: none;
           

            &__body{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 5px;
                border: 1px solid #002147;
                border-radius: 3px;
                padding: 5px 10px;
                background: #002147;
                cursor: pointer;

                &>i{
                    color: #d3d3d3;
                }
    
                &__menuTabName{
                    font-size: 16px;
                    font-family: "Roboto",sans-serif;
                    font-weight: 500;
                    color: #d3d3d3;
                }

            }

            

            @include if-device(tablet){
                display: block;
            }
            @include if-device(largephone){
                display: block;
              }
              @include if-device(phone){
                display: block;
              }
        }



        
  }

}
