@import "../../public/Style/_breakpoints";

nav{
    position: sticky;
    top: 0;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
  width: 1164px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 15px;
  z-index: 99999;

  @include if-device(desktop){
    width: 100%;
    padding: 0 50px;
  }
  @include if-device(tablet){
    width: 100%;
    padding: 0 50px;
  }
  @include if-device(largephone){
    width: 100%;
    padding: 0 50px;
  }
  @include if-device(phone){
    width: 100%;
    padding: 0 20px;
  }


  &__leftSide{
    padding: 5px 0;

    &__logo{
      width: 240px;
      height: 50px;

        img{
            width: 100%;
            height: 100%;
        }
        @include if-device(phone){
            width: 137px;
            height: 34px;
          }
    }
    @include if-device(desktop){
        padding-top: 4px;
      }
      @include if-device(largephone){
        padding-top: 4px;
      }
      @include if-device(phone){
        padding-top: 4;
      }
  }

  &__rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
        &__search{
            border-left: 1px solid #d3d3d3;
            color: #444444;
            padding-left: 30px;
            transition: all 0.3s ease-out;
            font-size: 14px;
            cursor: pointer;

            &:hover{
                color: #fdc800;
            }

            @include if-device(tablet){
                display: none;
            }
            @include if-device(largephone){
                display: none;
              }
              @include if-device(phone){
                display: none;
              }
        }

        &__menuTab{

            display: none;
           

            &__body{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 5px;
                border: 1px solid #002147;
                border-radius: 3px;
                padding: 5px 10px;
                background: #002147;
                cursor: pointer;

                &>i{
                    color: #d3d3d3;
                }
    
                &__menuTabName{
                    font-size: 16px;
                    font-family: "Roboto",sans-serif;
                    font-weight: 500;
                    color: #d3d3d3;
                }

            }

            

            @include if-device(tablet){
                display: block;
            }
            @include if-device(largephone){
                display: block;
              }
              @include if-device(phone){
                display: block;
              }
        }



        
  }

}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    &__list{
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        padding: 30px 25px;
        transition: all .5s ease-out;
        cursor: pointer;
        position: relative;

        &:hover{
            color: #fdc800;
        }

        &:hover .dropdown{
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
        }

        @include if-device(desktop){
            font-size: 15px;
            padding: 30px 16px;
          }
    }
    @include if-device(tablet){
        display: none;
      }

      @include if-device(largephone){
        display: none;
      }
      @include if-device(phone){
        display: none;
      }
}

.dropdown{
    list-style-type: none;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    width: 180px;
    z-index: 99999;
    background: #002147;
    margin-top: 0;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 10px;
    border-top: 1px solid #fdc800;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    width: 200px;

    &__subList{
        padding: 10px 10px 10px 15px;
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #1A3B61;
        transition: all 0.5s ease-out;
        position: relative;

        &>i{
            float: right;
            font-size: 12px;
            padding: 5px 0;
        }

        &:hover{
          color: #fdc800;
          padding-left: 25px;
          background: #1A3B61;
      }
    }

    &__subList:hover .subDropdown{
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }

    &__subList1{
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #1A3B61;
        transition: all 0.5s ease-out;
        position: relative;
        width: 200px;

       

        p{
            padding: 10px 10px 10px 5px;
            display: block;
            color: #FFFFFF;
            border-bottom: 1px solid #1A3B61;
            transition: all 0.5s ease-out;

            &:hover{
              color: #fdc800;
              padding-left: 15px;
              background: #1A3B61;
          }
        }
    }
}

.subDropdown{
    list-style-type: none;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    width: 180px;
    z-index: 99999;
    background: #002147;
    margin-top: 0;
    text-align: left;
    position: absolute;
    top: -1px;
    left: 200px;
    border-top: 1px solid #fdc800;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);

    &__subListDown{
        padding: 10px 10px 10px 15px;
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #1A3B61;
        transition: all 0.5s ease-out;

        &:hover{
          color: #fdc800;
          padding-left: 25px;
          background: #1A3B61;
      }
    }
}

.menuList{
  background: #f8f8f8;
  position: absolute;
  width: 100%;

    &__ul{
      list-style-type: none;
      width: 1164px;
      margin: 0 auto;
      padding: 1px 15px;
      z-index: 99999;
      display: none;

    @include if-device(desktop){
      display: none;
    }
    @include if-device(tablet){
      width: 100%;
      padding: 0 50px;
      display: block;
      overflow-y: scroll;
      height: 331px;
      text-align: left;
    }
    @include if-device(largephone){
      display: block;
      width: 100%;
      padding: 0 50px;
      overflow-y: scroll;
      height: 331px;
      text-align: left;
    }
    @include if-device(phone){
      display: block;
      width: 100%;
      padding: 0 20px;
      overflow-y: scroll;
      height: 331px;
      text-align: left;
    }
  
      &__li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f8f8f8;
        text-transform: uppercase;
        border-top: 1px solid#ddd;
        flex-wrap: wrap;
  
        &__name{
          color: #212121;
          font-weight: 700;
          font-family: "Roboto",sans-serif;
          font-size: 12px;
          width: 50%;
          padding: 16px 5%;
          cursor: pointer;
  
        }
        &>i{
          color: #212121;
          font-weight: 700;
          font-size: 14px;
          width: 50%;
          text-align: right;
          cursor: pointer;
        }

        &__dropdown{
          list-style-type: none;
          transition: all 0.5s ease-out;
          width: 100%;



          &__subli{
            border-top: 1px solid #ddd;
            color: #212121;
            text-transform: capitalize;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            padding: 12px 10%;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &__name2{
              color: #212121;
              font-weight: 700;
              font-family: "Roboto",sans-serif;
              font-size: 14px;
              width: 50%;
              padding: 16px 5%;
              cursor: pointer;

            }

            &>i{
              color: #212121;
              font-weight: 700;
              font-size: 14px;
              width: 50%;
              float: right;
              cursor: pointer;
            }
          }

          &__subli2{
            padding: 0 10%;
          }
        }
       
      }
    }

  

  
}

