@import "../../../public/Style/breakpoints";

.container{
    width: 100%;
    height: 100%;
    padding: 81px 0 94px;
    
    &__body{
        width: 1164px;
        margin: 0 auto;

        @include if-device(desktop){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(tablet){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(largephone){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(phone){
            width: 100%;
            padding: 0 20px;
          }
        }
      }
