.tab {
  padding: 18px 0;
  width: 100%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  color: #002147;
}
