@import "../../../public/Style/breakpoints";

.artical {

    &>a {
        width: 360px;


        &>img {
            width: 100%;

        }
    }

    &>h4 {
        text-align: center;

        @include if-device(phone) {
            margin-bottom: 30px;
        }

        @include if-device(largephone) {
            margin-bottom: 30px;
        }
    }
}