@import "../../../public/Style/breakpoints";

.courcesPage {
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;

    &__inner {
        padding: 30px 25px;

        @include if-device(tablet) {
            padding: 30px 15px;
        }

        &__review {
            &>p {
                color: #002147;

                &>span {
                    color: black;
                    font-weight: 500;
                }
            }

            &__barcode {
                &>h5 {
                    text-align: center;
                    background-color: #002147;
                    color: #FFFFFF;
                    margin-top: 20px;
                }

                &>img {
                    width: 100%;
                }

                &>h4 {
                    background-color: #002147;
                    color: #FFFFFF;
                    padding: 0px 5px;
                }
            }
        }
    }
}