@import "../../../public/Style/breakpoints";

.features {
    width: 100%;
    margin-top: 20px;

    &>h3 {
        background-color: #002147;
        color: white;
        padding: 7px;
        border-left: 24px solid #fdc800;
        border-right: 24px solid #fdc800;
        margin-bottom: 20px;
        font-size: 16px;

        @include if-device(phone) {
            font-size: 14px;
        }
    }
}