@import "../../../public/Style/breakpoints";

.courcesPage {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    text-align: left;

    &__rowflex {
        display: flex;
        justify-content: space-between;

        &__couresDetails {
            width: 850px;

            &__inner {
                padding: 20px 30px 30px;
                background: #FFFFFF;

                &>h2 {
                    text-transform: capitalize;
                    text-align: left;
                    font-weight: 500;
                    margin-bottom: 45px;
                    color: #002147;
                    font-size: 30px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.5;
                    position: relative;

                    &::before {
                        content: "";
                        height: 3px;
                        width: 40px;
                        background: #fdc800;
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        z-index: 1;
                        border-radius: 6px;
                    }
                }

                &>p {
                    line-height: 1.5;
                    margin: 0 0 20px 0;
                    text-align: start;
                    font-size: 15px;
                }

                &>img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: text-top;
                }

            }

            &__crousalArea {
                background-color: #FFFFFF;
                margin-top: 30px;

                &>h3 {
                    padding: 12px 20px;
                    color: #002147;
                    font-size: 22px;
                    font-weight: 500;
                    position: relative;
                    text-transform: capitalize;
                    margin: 0 0 20px 0;
                }
            }
        }

        &__sidebar {
            box-sizing: border-box;
            width: 267px;
            height: 360px;

        }
    }
}