@import "../../../public/Style/breakpoints";

.counterShow {
  background-image: url("../../Assets/counterBg.webp");
  height: 393px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include if-device(tablet) {
    height: auto;
    padding: 20px 0 0 0;
  }
  @include if-device(largephone) {
    height: auto;
    padding: 20px 0 0 0;
  }
  @include if-device(phone) {
    height: auto;
    padding: 20px 0 0 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 33, 71, 0.9);
    z-index: -1;
  }

  &__container {
    display: flex;
    align-items: baseline;
    column-gap: 30px;
    margin: 0 auto;
    width: 1164px;

    @include if-device(desktop) {
      flex-wrap: wrap;
      row-gap: 30px;
      height: auto;
      justify-content: space-between;
      width: 100%;
      padding: 0 50px;
    }
    @include if-device(tablet) {
      row-gap: 30px;
      height: auto;
      width: 100%;
      padding: 0 50px;
      justify-content: space-between;
    }
    @include if-device(largephone) {
      flex-wrap: wrap;
      height: auto;
      row-gap: 30px;
      width: 100%;
      padding: 0 50px;
    }
    @include if-device(phone) {
      flex-wrap: wrap;
      height: auto;
      row-gap: 30px;
      width: 100%;
      padding: 0 20px;
    }

    &__left,
    &__right {
      width: 100%;
      display: flex;
      column-gap: 30px;
      align-items: center;

      @include if-device(tablet) {
        flex-wrap: wrap;
        width: 100%;
        row-gap: 30px;
        justify-content: space-between;
      }
      @include if-device(largephone) {
        flex-wrap: wrap;
        row-gap: 30px;
      }
      @include if-device(phone) {
        flex-wrap: wrap;
        width: 340px;
        row-gap: 30px;
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 88px 0 100px 0;
}
