@import '../../../../public/Style/breakpoints';

.commonTitle {
    box-sizing: border-box;

    &__heading {
        font-size: 22px;
        color: #002147;
        text-transform: capitalize;
        margin-bottom: 35px;
        position: relative;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        position: relative;

        &::before {
            content: "";
            height: 3px;
            width: 40px;
            position: absolute;
            left: 0;
            bottom: -15px;
            z-index: 1;
            background: #fdc800;
        }
    }
}