@import "../../../../public/Style/breakpoints";


.list{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    padding: 30px 20px;
    transition: all .3s ease-out;
    cursor: pointer;
    position: relative;

    a{
        text-decoration: none;
        transition: all 0.3s ease-out;
    }

    &:hover{
        color: #fdc800;
    }

    @include if-device(desktop){
        font-size: 15px;
        padding: 30px 16px;
    }
}

.dropdown{
    list-style-type: none;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    z-index: 99999;
    background: #002147;
    margin-top: 0;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 10px;
    border-top: 1px solid #fdc800;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    width: 300px;
}



.hoverSubActive{
  background: #1A3B61;

  &>a{
    color: #fdc800;
  }
}

.subDropdownHover{
  border-top: 1px solid #fdc800;
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 10px;
  width: 300px;
  background: #002147;
  transform-origin: 0 0 0;
  transition: all .3s ease-out;
}
