@import "../../../public/Style/breakpoints";

.list {

    &__li {
        list-style: none;
        padding-left: 30px;
        position: relative;
        margin-bottom: 10px;

        @include if-device(phone) {
            font-size: 14px;
        }

        &::before {
            content: "\f058";
            position: absolute;
            font-family: FontAwesome;
            left: 0;
            top: 0;
            font-size: 20px;
            border-radius: 50%;
            z-index: 1;
            line-height: 1.3;
            color: #fdc800;
        }
    }
}