@import "../../../public/Style/breakpoints";

.menuList{
    background: #f8f8f8;
    position: absolute;
    width: 100%;
  
      &__ul{
        list-style-type: none;
        width: 1164px;
        margin: 0 auto;
        padding: 1px 15px;
        z-index: 99999;
        display: none;
        background: #f8f8f8;
  
      @include if-device(desktop){
        display: block;
        width: 100%;
        padding: 0 30px 0 50px;
        overflow-y: scroll;
        height: 331px;
        text-align: left;
      }
      @include if-device(tablet){
        width: 100%;
        padding: 0 30px 0 50px;
        display: block;
        overflow-y: scroll;
        height: 331px;
        text-align: left;
      }
      @include if-device(largephone){
        display: block;
        width: 100%;
        padding: 0 30px 0 50px;
        overflow-y: scroll;
        height: 331px;
        text-align: left;
      }
      @include if-device(phone){
        display: block;
        width: 100%;
        padding: 0 10px 0 20px;
        overflow-y: scroll;
        height: 331px;
        text-align: left;
      }
    
        &__li{
          background: #f8f8f8;
          text-transform: uppercase;
          border-top: 1px solid#ddd;
    
          &__name{
            color: #212121;
            font-weight: 700;
            font-family: "Roboto",sans-serif;
            font-size: 12px;
            width: 100%;
            padding: 16px 0;
            position: relative;

            &>a{
              color: #212121;
              font-weight: 700;
              font-family: "Roboto",sans-serif;
              font-size: 12px;
              text-decoration: none;
              cursor: pointer;
              width: 100%;
            }

            &>i{
              color: #212121;
              font-weight: 700;
              font-size: 14px;
              text-align: right;
              cursor: pointer;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
    
          }
  
          &__dropdown{
            list-style-type: none;
            transition: all 0.5s ease-out;
            width: 100%;
  
  
  
            &__subli{
              border-top: 1px solid #ddd;
              color: #212121;
              text-transform: capitalize;
              width: 100%;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              padding: 12px 10%;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;

              &>a{
                color: #212121;
                font-family: "Roboto",sans-serif;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;
                width: 100%;
              }
  
              &>i{
                color: #212121;
                font-weight: 700;
                font-size: 14px;
                width: 50%;
                text-align: right;
                cursor: pointer;
              }
            }
       }
    }
  }
}

.hoverActive{
  color: #fdc800;
  &>a{
    color: #fdc800;
  }
}

.hoverSubActive{
  background: #1A3B61;

  &>a{
    color: #fdc800;
  }
}
  