@import "../../../public/Style/breakpoints";

.lecturerSection {
  h2 {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    margin-bottom: 45px;
    color: #002147;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }
}
