@import "../../../public/Style/breakpoints";
.radiobuttonArea {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  & > label {
    display: block;
    letter-spacing: 1px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 15px;

    & > span {
      color: #d70026;
    }
  }

  &__err {
    color: red;
    margin-top: 5px;
  }

  &__inputField {
    display: flex;
    align-items: center;
    margin-top: 15px;

    & > input {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    & > span {
      @include if-device(phone) {
        margin-right: 16px;
      }
      @include if-device(smallPhone) {
        margin-right: 16px;
      }
      margin-right: 25px;
    }
  }
}
