@import "../../public/Style/breakpoints";

.courcesPage {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    text-align: left;

    &__rowflex {
        display: flex;
        background-color: #f5f5f5;
        column-gap: 20px;

        @include if-device(smallPhone) {
            display: block;

        }

        @include if-device(largephone) {
            display: block;
        }

        @include if-device(phone) {
            display: block;

        }

        &__couresDetails {
            width: 100%;

            @include if-device(phone) {
                width: 100%;
                margin-bottom: 0px;
            }

            @include if-device(smallPhone) {
                width: 100%;
                margin-bottom: 60px;
            }

            @include if-device(largephone) {
                width: 100%;
                margin-bottom: 60px;
            }

            @include if-device(tablet) {
                width: 100%;
                margin-bottom: 60px;
            }

            &__inner {
                padding: 20px 30px 30px;
                background: #FFFFFF;

                @include if-device(phone) {
                    padding: 20px 15px 30px;
                    margin-bottom: 35px;
                }

                &>h2 {
                    text-transform: capitalize;
                    text-align: left;
                    font-weight: 500;
                    margin-bottom: 45px;
                    color: #002147;
                    font-size: 30px;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.5;
                    position: relative;

                    @include if-device(smallPhone) {
                        font-size: 22px;
                    }

                    @include if-device(phone) {
                        font-size: 24px;
                    }

                    &::before {
                        content: "";
                        height: 3px;
                        width: 40px;
                        background: #fdc800;
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        z-index: 1;
                        border-radius: 6px;
                    }
                }

                &__artical {
                    display: flex;
                    column-gap: 30px;

                    @include if-device(phone) {
                        display: block;
                    }

                    @include if-device(largephone) {
                        display: block;
                    }

                    @include if-device(tablet) {
                        flex-wrap: wrap;
                    }
                }
            }

            &__crousalArea {
                background-color: #FFFFFF;
                margin-top: 30px;

                &>h3 {
                    padding: 12px 20px;
                    color: #002147;
                    font-size: 22px;
                    font-weight: 500;
                    position: relative;
                    text-transform: capitalize;
                    margin: 0 0 20px 0;
                }
            }
        }

        &__sidebar {
            box-sizing: border-box;
            flex: 1;
            background-color: #f5f5f5;

            @include if-device(smallPhone) {
                width: 100%;
            }

            @include if-device(phone) {
                width: 100%;
            }

            @include if-device(largephone) {
                width: 100%;
            }

            @include if-device(tablet) {
                width: 225px;
            }

            @include if-device(desktop) {
                width: 225px;
            }


        }
    }
}