@import "../../public/Style/breakpoints";

.footer{
    padding: 92px 0 50px;
    background: #002147;
    text-align: left;

    &__container{
        width: 1164px;
        margin: 0 auto;
        padding: 0 15px;
        @include if-device(desktop){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(tablet){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(largephone){
            width: 100%;
            padding: 0 50px;
          }
          @include if-device(phone){
            width: 100%;
            padding: 0 20px;
          }

        &__body{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            column-gap: 20px;
            @include if-device(desktop){
               flex-wrap: wrap;
               row-gap: 50px;
              }
              @include if-device(tablet){
                flex-wrap: wrap;
               row-gap: 50px;
              }
              @include if-device(largephone){
                flex-wrap: wrap;
               row-gap: 50px;
              }
              @include if-device(phone){
                flex-wrap: wrap;
               row-gap: 50px;
              }

            &__child{
                width: 25%;
                @include if-device(desktop){
                    width: 48%;
                  }
                  @include if-device(tablet){
                    width: 48%;
                  }
                  @include if-device(largephone){
                    width: 100%;
                  }
                  @include if-device(phone){
                    width: 100%;
                  }
            }
            
        }
    }
}