@import "../../../../public/Style/breakpoints";

.counterComponent {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__left {
    &__h2 {
      color: #ffffff;
      font-size: 72px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      position: relative;
      margin-bottom: 20px;

      @include if-device(phone) {
        font-size: 50px;
      }
      &::before {
        content: "";
        height: 2px;
        width: 100%;
        background: #fdc800;
        position: absolute;
        left: 0;
        margin: 0 auto;
        right: 0;
        bottom: 0;
        z-index: 3;
      }
    }
  }

  &__right {
    &__para {
      color: #ffffff;
      font-size: 18px;
      padding-top: 15px;
      padding-left: 15px;
      text-transform: uppercase;
      text-align: left;
      z-index: 1;
      margin: 0 0 20px 0;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
  }
}
