$scu-largeDesktop-max-width: 1400px !default;

$scu-desktop-max-width: 1280px !default;
$scu-tablet-min-width: 481px !default;
$scu-tablet-max-width: 1025px !default;
$scu-phone-max-width: 480px !default;
$scu-phone-min-width: 320px !default;













@mixin if-device($device) {
	@if $device == largeDesktop {
		@media only screen and (min-width: $scu-largeDesktop-max-width) {
			@content;
		}
	} @else if $device == desktop {
		@media only screen and (min-width: $scu-desktop-max-width) {
			@content;
		}
	} @else if $device == tablet {
		@media only screen and (min-width: $scu-tablet-min-width) and (max-width: $scu-tablet-max-width) {
			@content;
		}
	} @else if $device == phone {
		@media only screen and (min-width: $scu-phone-min-width) and (max-width: $scu-phone-max-width) {
			@content;
		}
	}
}