@import "../../../public/Style/breakpoints";

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    &__list{
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        padding: 30px 20px;
        transition: all .3s ease-out;
        cursor: pointer;
        position: relative;

        a{
          text-decoration: none;
          color: #000000;
          transition: all 0.3s ease-out;
        }

        &:hover a{
          color: #fdc800;
        }

        &:hover{
          color: #fdc800;
        }

        &:hover .dropdown{
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
        }

        @include if-device(desktop){
            font-size: 15px;
            padding: 30px 16px;
          }
    }
    @include if-device(tablet){
        display: none;
      }

      @include if-device(largephone){
        display: none;
      }
      @include if-device(phone){
        display: none;
      }
      @include if-device(desktop){
        display: none;
      }
}

.dropdown{
    list-style-type: none;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    z-index: 99999;
    background: #002147;
    margin-top: 0;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 10px;
    border-top: 1px solid #fdc800;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    width: 300px;

    &__subList{
        padding: 10px 10px 10px 15px;
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #1A3B61;
        transition: all 0.5s ease-out;
        position: relative;

        &>a{
          text-decoration: none;
          color: #FFFFFF;
          transition: all 0.5s ease-out;
        }

        &>i{
            float: right;
            font-size: 12px;
            padding: 5px 0;
        }

        &:hover{
          padding-left: 25px;
          background: #1A3B61;
        }

        &:hover a{
          color: #fdc800;
        }
    }

    &__subList:hover .subDropdown{
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }
}

.subDropdown{
    list-style-type: none;
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    width: 175px;
    z-index: 99999;
    background: #002147;
    margin-top: 0;
    text-align: left;
    position: absolute;
    top: -1px;
    left: 175px;
    border-top: 1px solid #fdc800;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);

    &__subListDown{
        padding: 10px 10px 10px 15px;
        display: block;
        color: #FFFFFF;
        border-bottom: 1px solid #1A3B61;
        transition: all 0.5s ease-out;

        &:hover{
          color: #fdc800;
          padding-left: 25px;
          background: #1A3B61;
      }
    }
}